*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    min-height: 100vh;
    background: url('images/pic4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgb(0, 0, 0);
    background-image: linear-gradient(to top, #b700ff 0%, #4c00ff 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}


.input-box input {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1em;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 0 35px 0 5px;
}

.input-box label {
    position: absolute;
    top: 50%;
    margin-bottom: 2px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.input-box input:focus ~ label,
.input-box input:valid~ label {
    top: 10px;

}


.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 60px;
}

button {
    border-radius: 40px;
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}

.remember-forgot {
    margin:-15px 0 15px;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.remember-forgot label input{
margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.register-link {
color: #fff;
margin: 25px 0 10px;
text-align: center;
}


.register-link p a {
    text-decoration: none;
    color: #ffffff
}

.register-link p a:hover {
    text-decoration: underline;
}

.navbar{
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #4c00ff;
   background-image: linear-gradient(to top, #b700ff 0%, #4c00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    background: #4c00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover{
    transition: all 0.3s ease;
    background: #b700ff;
}

.navbar__links:hover{
    color: #4c00ff;
    border-bottom: 2px solid #4c00ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0. 5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.5rem;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .button{
        display: flex;
        justify-content: center;
         align-items: center;
         width: 80%;
         height: 80px;
         margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top:20%;
        right: 5%;
        transform:translate(-5%, 20%);
    }
    #mobile-menu.active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
